html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  overflow-y: auto;
}

#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.panel_content {
  padding: 4px;
}

.styled-select {
  padding-top: 5px;
}

.styled-select select {
  width: auto;
  max-width: 265px;
  background: transparent;
  padding: 5px;
  height: 34px;
}

.styled-select.small select {
  width: auto;
  max-width: 220px;
}

.dijitInline {
  display: block;
}

.dijitInputField input {
  border: none;
  box-shadow: none;
}

.calcite .dijitTextBox .dijitInputField {
  padding: 0;
}


/*Filter panel styles */

legend {
  background: none repeat scroll 0 0 transparent;
  color: #003366;
  font-weight: bold;
  width: 100%;
  word-wrap: break-word;
  margin: 1rem 0;
}

#container {
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  position: relative;
}

.content-pane-left {
  width: 0;
  max-width: 290px;
  height: 100%;
  padding: 5px;
  margin: 0;
  border: 0;
  background: #fff;
  overflow: hidden;
  -webkit-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -ms-transition: width 250ms ease;
  -o-transition: width 250ms ease;
  transition: width 250ms ease;
}

@media only screen and (min-width: 760px) {
  .content-pane-left {
    max-width: 340px;
  }
}

.btn.btn-large.btn-transparent.esri-icon-close,
.btn.btn-large.btn-transparent.esri-icon-search {
  line-height: 1.55em;
  font-size: 16px;
}

[class^="esri-icon-"],
[class*=" esri-icon-"] {
  color: #333;
}

.connector {
  text-transform: lowercase;
  font-style: italic;
  padding: 0.25em;
  margin: 0;
}

#container.esriRtl {
  text-align: right;
}

.filter {
  display: block;
}

.selectedFilter {
  border: solid 1px #BBFFFF;
}

#container.esriRtl label.hint {
  text-align: right;
  float: right;
}

.hint {
  font-style: italic;
  width: 100%;
  padding: 0 1em 0.4em 0.5em;
  text-align: left;
  float: left;
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 100;
  display: none;
}

.startLoader {
  display: block;
}

.top-bar {
  position: absolute;
  z-index: 36;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  color: #333;
}

.esriRTL .top-bar {
  left: auto;
  right: 0;
}

.top-bar-title {
  display: none;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 6px;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 760px) {
  .top-bar-title {
    display: block;
  }
}

.esriRTL .top-bar-title {
  float: right;
  padding-right: 45px;
}

.hamburger-button {
  position: absolute;
  line-height: 32px;
  font-size: 22px;
  font-weight: normal;
}

.btn-transparent:hover {
  color: inherit;
}

.hamburger-button:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.esriRTL .hamburger-button {
  position: absolute;
}

.border-container-outer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

.loading-indicator {
  /* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}

.map-loader-img {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 50%;
}

.filter-loading {
  display: block;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block;
}

.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
}

.app-error .loading-message {
  /* Error status */
  background-position: top center;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}

.app-loading .content-pane-left {
  width: 0;
}

.drawer-open .content-pane-left {
  width: 300px;
  overflow: auto;
  overflow-x: hidden;
  border-right: 1px solid #ddd;
}

.esriRTL .drawer-open .content-pane-left {
  border-right: 0;
  border-left: 1px solid #ddd;
}

.content-pane-center {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

#legendContainer {
  overflow: visible;
  position: absolute;
  top: 40px;
  right: 10px;
  width: 244px;
  height: auto;
  display: block;
  z-index: 2;
}

#legendContainer.hide {
  height: 0;
}

.legend-header.hide,
.legend-content.hide {
  display: none;
}

.legend-header {
  background-color: #fff;
  border: 1px solid #DDD;
  border-bottom: none;
  position: relative;
  width: 100%;
  height: 32px;
  display: block;
}

.legend-content {
  position: relative;
  top: 0;
  display: block;
  color: #000;
  z-index: 1;
  height: auto;
  width: 100%;
  max-height: 60%;
  overflow-y: auto;
  border-radius: 4px;
  margin: auto;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-top: none;
}

.legend-item {
  padding: .5em;
}

#legendDiv table,
#legendDiv table th,
#legendDiv table td,
#legendDiv table tr {
  border: none
}

#legendDiv table {
  margin-bottom: 0;
}

#submenu.hide {
  display: none;
}

.submitButton {
  font-size: 14px;
}

.btn-white {
  border: 1px solid transparent;
}

.mini-submenu {
  position: absolute;
  top: 40px;
  right: 2px;
  display: block;
  z-index: 1;
  padding: 0;
  width: 32px;
  height: 32px;
  color: #4c4c4c;
  font-size: 18px;
  background-color: #fff;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-width: 0;
  border-style: none;
  text-align: center;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.noscroll {
  overflow: hidden;
}

#close-submenu {
  position: absolute;
  top: 4px;
  right: 6px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

label {
  position: relative;
  display: block;
  margin: 0 0 1rem 0;
}

.panel_content {
  padding: 4px;
}

.calcite .esriSimpleSlider {
  display: none;
  top: 55px;
  left: 4px;
}

@media only screen and (min-width: 850px) {
  .calcite .esriSimpleSlider {
    display: block;
  }
}

#search {
  float: right;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-right: 5px;
  line-height: 36px;
}

.esriRTL #search {
  float: left;
}

.drawer-open #search {
  /*Hide geocoder for small screen sizes when drawer is open*/
  display: none;
}

@media only screen and (min-width: 450px) {
  .drawer-open #search {
    display: block;
  }
}

.filter-content {
  padding: 4px;
}

.open-drawer {
  /*Hide geocoder for small screen sizes when drawer is open*/
  display: none;
}

@media only screen and (min-width: 450px) {
  .open-drawer {
    display: block;
  }
}


/* Esri Javascript API*/

.calcite .esriPopup .contentPane {
  padding: 0 15px;
}

#locateDiv {
  position: absolute;
  top: 55px;
  left: 4px;
  z-index: 50;
}

@media only screen and (min-width: 850px) {
  #locateDiv {
    top: 130px;
  }
}

.no-locate #homeDiv {
  top: 55px;
}

#homeDiv {
  position: absolute;
  top: 100px;
  left: 4px;
  z-index: 50;
}

@media only screen and (min-width: 850px) {
  #homeDiv {
    top: 175px;
  }
  .no-locate #homeDiv {
    top: 130px;
  }
}

.simpleGeocoder .esriGeocoderResults {
  color: #333;
}

.simpleGeocoder .esriGeocoderResult {
  color: #333;
}